# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
catalog.json
claim.json
.idea
vendor
*.test
test-network-function_junit.xml
cover.out
cover.out.tmp
cnf-certification-test/cnf-certification-tests_junit.xml
cnf-certification-tests_junit.xml
cnftests-junit.xml
setup_junit.xml
validation_junit.xml
.vscode
jsontest-cli
test-out.json
test-network-function

temp/
/tnf
/all-releases.txt
/latest-release-tag.txt
/release-tag.txt
